* {
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
}

:root {
	--bg-color1: rgb(26, 26, 26);
}

.header {
	min-height: 100vh;
	width: 100%;
	background-image: linear-gradient(rgba(26, 26, 26, 0.719), rgba(30, 4, 4, 0)), url(images/banner.jpg);
	background-position: center;
	background-size: cover;
	position: relative;
}

.overlay {
	width: 100%;
	height: 10%;
	position: absolute;
	background: linear-gradient(rgba(26, 26, 26, 0.63) 10%, rgba(26, 26, 26, 0) 100%);
}

nav {
	display: flex;
	top: 0px;
	padding: 1% 6%;
	justify-content: space-between;
	align-items: center;
	background: linear-gradient(rgba(26, 26, 26, 1) 20%, rgba(26, 26, 26, 0.63) 100%);
}



nav img {
	width: 65px;
	border-radius: 50%;
}

.nav-links {
	flex: 1;
	text-align: right;

}

.nav-links ul li {
	list-style: none;
	display: inline-block;
	padding: 8px 12px;
	position: relative;
}

.nav-links ul li a {
	color: rgb(179, 179, 179);
	text-decoration: none;
	font-size: 20px;
	font-family: 'Roboto', sans-serif;
}

.nav-links ul li::after {
	content: '';
	width: 0%;
	height: 2px;
	background: #f4433686;
	display: block;
	margin: auto;
	transition: 0.5s;
}

.nav-links ul li:hover::after {
	width: 100%
}

.text-box {
	color: rgb(255, 255, 255);
	position: absolute;
	top: 45%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-left: 20%;
	margin-right: 25%;
}

.text-box h1 {
	font-size: 62px;
	font-family: Helvetica, sans-serif;
	margin: 0;
	/* Remove default margin */
}

.text-box p {
	margin: 2px 30px 10px 0;
	font-size: 16px;
	color: #dbdbdb;
	text-align: left;
}

.hero-btn {
	display: inline-block;
	text-decoration: none;
	color: #fff;
	border: 1px solid #fff;
	padding: 12px 34px;
	font-size: 20px;
	background: transparent;
	cursor: pointer;
}

.hero-btn:hover {
	border: 1px solid #f44336;
	background: #f44336;
	transition: 1s;
}

nav .fa {
	display: none;
}


@media(max-width: 700px) {
	.text-box h1 {
		font-size: 42px;
	}

	.nav-links ul li {
		display: block;
	}

	.header {
		background-image: linear-gradient(rgba(31, 31, 31, 0.3), rgba(29, 29, 29, 0.5)), url(images/carinae.jpg);

	}

	.nav-links {
		position: absolute;
		background: #f44336;
		height: 100vh;
		top: 0;
		right: -200px;
		text-align: left;
		display: none;
		z-index: 2;
		transition: 0.5s;
	}

	nav .fa {
		display: block;
		color: #fff;
		margin: 10px;
		font-size: 22px;
		cursor: pointer;
	}

	.nav-links ul {
		padding: 30px;
	}


	.row {
		margin-top: 5%;
		display: flex;
		justify-content: space-between;
		max-height: 70vh;
	}


	.text-box {
		color: rgb(255, 255, 255);
		position: absolute;
		top: 45%;
		text-align: center;
		align-content: center;
		margin-top: 5px;
		margin-left: 25%;
		margin-right: 25%;
	}

	.text-box h1 {
		font-size: 48px;
		font-family: Helvetica, sans-serif
	}

	.text-box p {
		margin: 0px 0 10px;
		font-size: 14px;
		color: #dbdbdb;
		text-align: center;
	}

	.hero-btn {
		display: inline-block;
		text-decoration: none;
		color: #fff;
		border: 1px solid #fff;
		padding: 12px 34px;
		font-size: 14px;
		background: transparent;
		position: relative;
		cursor: pointer;
	}
}


footer {
	position: absolute;
	background: linear-gradient(rgba(31, 31, 31, 0.3), rgba(29, 29, 29, 0.5));
	height: 8vh;
	width: 100vw;
	padding-top: 3%;
	color: #fff;

}

.footer-content {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	text-align: center;
}

.footer-content p {
	max-width: 500px;
	margin: auto;
	line-height: 28px;
	font-size: 14px;
	color: #cacdd2;
}

.socials {
	list-style: none;
	display: flex;
	align-items: center;
	justify-content: center;
	padding-bottom: 5px;
}

.socials a {
	text-decoration: none;
	color: #fff;
	border: 1.1px solid white;
	padding: 5px;

	border-radius: 50%;

}

.socials a i {
	font-size: 1.1rem;
	width: 20px;


	transition: color .4s ease;

}

@media(max-width: 700px) {

	.recentimg h1 {
		font-size: 25px;
	}

	.recentimg p {
		font-size: 15px;
	}

	.recentimg {
		width: 90%;

	}

	.layer h3 {
		font-size: 20x;
	}

}