* {
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
}

.header {
	min-height: 30vh;
	width: 100%;
	background-image: linear-gradient(rgba(30, 4, 4, 0.7), rgba(30, 4, 4, 0.7)), url(images/banner.jpg);
	background-position: center;
	background-size: cover;
	position: relative;
}


nav {
	display: flex;
	padding: 1% 6%;
	justify-content: space-between;
	align-items: center;
	background-color: rgb(26, 26, 26);
}

nav img {
	width: 65px;
	border-radius: 50%;
}

.nav-links {
	flex: 1;
	text-align: right;

}

.nav-links ul li {
	list-style: none;
	display: inline-block;
	padding: 8px 12px;
	position: relative;
}

.nav-links ul li a {
	color: #fff;
	text-decoration: none;
	font-size: 13px;
}

.nav-links ul li::after {
	content: '';
	width: 0%;
	height: 2px;
	background: #f44336;
	display: block;
	margin: auto;
	transition: 0.5s;
}

.nav-links ul li:hover::after {
	width: 100%
}

.text-box {
	width: 90%;
	color: rgb(255, 255, 255);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

.text-box hl {
	font-size: 62px;
}

.text-box p {
	margin: 10px 0 40px;
	font-size: 14px;
	color: #fff;
}

.hero-btn {
	display: inline-block;
	text-decoration: none;
	color: #fff;
	border: 1px solid #fff;
	padding: 12px 34px;
	font-size: 13px;
	background: transparent;
	position: relative;
	cursor: pointer;
}

.hero-btn:hover {
	border: 1px solid #f44336;
	background: #f44336;
	transition: 1s;
}

nav .fa {
	display: none;
}

@media(max-width: 700px) {
	.text-box hl {
		font-size: 20px;
	}

	.nav-links ul li {
		display: block;
	}

	.nav-links {
		position: absolute;
		background: #f44336;
		height: 100vh;
		width: 200px;
		top: 0;
		right: -200px;
		text-align: left;
		z-index: 2;
		transition: 0.5s;
	}

	nav .fa {
		display: block;
		color: #fff;
		margin: 10px;
		font-size: 22px;
		cursor: pointer;
	}

	.nav-links ul {
		padding: 30px;
	}



}

.container {
	padding: 25px 10%;
	text-align: center;
}

.container .heading2 {
	font-size: 30px;
	padding-bottom: 25px;
}

.container #search-box {
	width: 600px;
	border: 3px solid #000;
	padding: 12px 15px;
	font-size: 20px;
}

/*--------------img----------*/
.row,
.row2,
.row3,
.row4 {
	margin-top: 1%;
	margin-left: 5%;
	margin-right: 5%;
	display: flex;
	justify-content: center;
}

.orange {
	background-color: #f44336;
	height: 30px;
	margin-left: 8vw;
	margin-right: 8vw;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;

}

.blob {
	height: 100%;
	background-color: rgb(30, 30, 30);
	margin-left: 8vw;
	margin-right: 8vw;
	border-radius: 2.5%;
	border-top-left-radius: 0%;
	border-top-right-radius: 0%;

}

.grayblob {
	background-color: #f44336;
	max-height: 30px;
}

.img {
	width: 100vw;
	margin: auto;
	text-align: center;
	padding-bottom: 50px;
}

.allimg {
	padding-top: 90px;
	padding-bottom: 10px;
}

.img-col,
.img-col2,
.img-col3,
.img-col4 {

	flex-basis: 20%;
	position: relative;
	overflow: hidden;
	border-radius: 10%;



}

.img-col img,
.img-col2 img,
.img-col3 img,
.img-col4 img {
	object-fit: cover;

	height: auto;
	display: block;
	max-width: 200px;
	max-height: 200px;
	border-radius: 10%;

}

.img p {
	margin: 10px 0 40px;
	font-size: 14px;
	color: #fff;
}

.img h1 {
	margin: 10px 0 40px;
	font-size: 50px;
	color: #fff;
}



footer {
	position: absolute;
	background: #111;
	height: auto;
	width: 100vw;

	padding-top: 40px;
	color: #fff;
}

.footer-content {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	text-align: center;
}

.footer-content p {
	max-width: 500px;
	margin: 10px auto;
	line-height: 28px;
	font-size: 14px;
	color: #cacdd2;
}

.socials {
	list-style: none;
	display: flex;
	align-items: center;
	justify-content: center;
	padding-bottom: 5px;
}

.socials a {
	text-decoration: none;
	color: #fff;
	border: 1.1px solid white;
	padding: 5px;

	border-radius: 50%;

}

.socials a i {
	font-size: 1.1rem;
	width: 20px;


	transition: color .4s ease;

}